.Xauthority
.Xdefaults
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/Code - OSS/
.config/dconf/
.config/mpd/
.config/pulse/
.drirc
.fzf.bash
.fzf.zsh
.fzf/
.gitconfig
.histfile
.i3.log
.lesshst
.local/
.mozilla/.mozilla/
.mozilla/firefox/Crash Reports/
.mozilla/firefox/installs.ini
.mozilla/firefox/profiles.ini
.mozilla/firefox/qwihlvkf.default/
.mozilla/firefox/r9ebbi2h.default-release/
.oh-my-zsh/
.pki/
.urxvt/
.vim/
.viminfo
.viminfo.tmp
.viminfq.tmp
.viminfr.tmp
.viminfs.tmp
.viminft.tmp
.viminfu.tmp
.viminfv.tmp
.viminfw.tmp
.viminfx.tmp
.viminfy.tmp
.viminfz.tmp
.vscode-oss/
.zcompdump
.zcompdump-porapat-5.8
.zsh_history
CE/
Downloads/
go/
wallpapers/
